<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet.dao.mapper.AccusationMapper">
  <resultMap id="BaseResultMap" type="pet.dao.model.Accusation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="acc_id" jdbcType="INTEGER" property="accId" />
    <result column="accusater" jdbcType="INTEGER" property="accusater" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pet_id" jdbcType="INTEGER" property="petId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="acc_time" jdbcType="TIMESTAMP" property="accTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>