<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet.dao.mapper.PetMapper">
  <resultMap id="BaseResultMap" type="pet.dao.model.Pet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pet_id" jdbcType="INTEGER" property="petId" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="sub_category" jdbcType="VARCHAR" property="subCategory" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="jieyu" jdbcType="VARCHAR" property="jieyu" />
    <result column="mianyi" jdbcType="VARCHAR" property="mianyi" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="pos_lat" jdbcType="VARCHAR" property="posLat" />
    <result column="pos_lng" jdbcType="VARCHAR" property="posLng" />
    <result column="pos_txt" jdbcType="VARCHAR" property="posTxt" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  
  <select id="selectIndexPets" resultMap="BaseResultMap">
  	select * from pet where status='待领养' order by publish_time desc
  </select>
  
  <select id="selectMyAdoptPets" resultMap="BaseResultMap">
  	select * from pet where pet_id in (select pet_id from adopt where adopt_user=#{userId})
  </select>
</mapper>