<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet.dao.mapper.PetNoticeMapper">
  <resultMap id="BaseResultMap" type="pet.dao.model.PetNotice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="notice_id" jdbcType="INTEGER" property="noticeId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="features" jdbcType="VARCHAR" property="features" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  
  <select id="selectListDesc" resultMap="BaseResultMap">
  	select * from pet_notice order by publish_time desc
  </select>
  <select id="selectMyListDesc" resultMap="BaseResultMap">
  	select * from pet_notice where user_id=#{userId} order by publish_time desc
  </select>
</mapper>